.contact {
    border: rgb(104, 100, 100);
    border-style: solid;
    border-radius: 10px;
    width: 80%;
    height : 100%;
    margin-left: auto;
    margin-right: auto;
    padding : 20px;
    margin-top: 20px;
    position:relative;
}
h2{
  text-align: center;
  padding-left: 10px;
  justify-content: left;

}
.contact-container {
  display: flex;
  flex-direction: row;
  position:relative;

    border: rgb(104, 100, 100);
    border-style:solid;
    border-radius: 10px;
    margin : 10px 100px 10px 100px;
    width: "calc(100% - 100px)";
    height : 100%;
    padding: 10px 10px 10px 10px;
    background-color:rgb(205, 245, 235);
    justify-content: center;
}

.image{ 
  height : 200px;
  width : 200px;
  float: left;
  border: rgb(104, 100, 100);
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
}

.content{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  word-wrap: break-word; 
  font-size: 15px;
  font-family: sans-serif, Helvetica,monospace,'Helvetica Neue', 'Open Sans', 'Segoe UI',sans-serif;
}

p{
  padding-top: 10px;
}