<div class="present">
  <h2><b>ABOUT ME</b></h2>
  <div class="present-container">
    <img class="image" src="/my-website/assets/akhil-123.jpg" width="200px" height="200px">
    <div class = "content"> 
      <p> Hello! My name is Akhil Kumar Mengani </p>
      <p>I am currently pursuing Master’s in Computer Science at NC State University. 
        Previously, I worked as a Software Engineer at Oracle for 3 years. 
        I am passionate about building applications and learning new technologies.</p>
      </div>
  </div>
</div>

