<div class="present">
  <h2><b>ABOUT ME</b></h2>
  <div class="present-container">
    <img class="image" src="/assets/akhil-123.jpg" width="200px" height="200px">
    <div class = "content"> 
      <p> Hello! My name is Akhil Kumar Mengani </p>
      <p>I am a Software Engineer with 34 months of work experience and 
        currently work on building HCM Cloud Application at Oracle. 
      <p> I am passionately interested in learning new technologies and love teaching</p>
      </div>
  </div>
</div>

