.experience {
    border: rgb(104, 100, 100);
    border-style: solid;
    border-radius: 10px;
    width: 80%;
    height : 100%;
    margin-left: auto;
    margin-right: auto;
    padding : 20px;
    margin-top: 20px;
}
h2{
  text-align: center;
  padding-left: 10px;
  justify-content: left;
}


.exp-container-dummy {
    display: flex;
    border: rgb(104, 100, 100);
    border-style:solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height : 100%;
    padding: 10px;
    background-color:rgb(230, 176, 176);
    justify-content: left;
}

.exp-container{
    display: flex;
    border: rgb(104, 100, 100);
    border-style:solid;
    border-radius: 10px;
    margin-top: 10px;
    width: 98%;
    height : 100%;
    padding: 8px;
    background-color:rgb(241, 207, 207);
    justify-content: left;
}

.image{
  height : 200px;
  width : 200px;
  float: left;
  border: rgb(104, 100, 100);
  border-style: solid;
  border-radius: 10px;
}

.content{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
  text-align: left;
  font-size: 14px;
  font-family: monospace;
}

li{
  padding-bottom: 10px;
}