<div class="project">
    <h2>PROJECTS</h2>
    <div class="project-container">
        <div class = "content"> 
            <h3>Classification of Age Groups in Facebook using Deep Learning <a href="">Link</a></h3>
            <a href=""> </a>
            <p> Project Details: </p>
            <ul>
                <li> Designed a model which classifies users in facebook into two categories: teenager and adult
                <li> Collected the data using Facebook graph using access tokens and preprocessed the data.
                <li> Developed a DCNN model with convolutional layers which outperformed all other classification algorithms.
                <li> Technologies used: Python, fb-sdk, Deep Learning 
            </ul>
        </div>
    </div>
    <div class="project-container">
        <div class = "content"> 
            <h3>My Store Application</h3>
            <p> Project Details: </p>
            <ul>
                <li> Created an application that allows users to browse a catalog of available products, add them to a shopping cart, and then finish the checkout procedure.</li>
                <li> Architected the database to fulfill data requirements and crafted a RESTful API that exposes the information.</li>
                <li> Technologies used : Postgres, Express, Angular, Node, Circle CI, AWS </li>
            </ul>
        </div>
    </div>
    <div class="project-container">
        <div class = "content"> 
            <h3>Data Drive</h3>
            <p> Project Details: </p>
            <ul>
                <li> Developed a personal information management application that includes features like simple file storage, note management and credential management.</li>
                <li> Restricted unauthorized access to the pages and encrypted credentials to keep the data private. </li>
                <li> Technologies used: Spring, Thymeleaf, SQL </li>
            </ul>
        </div>
    </div>
    <div class="project-container">
        <div class = "content"> 
            <h3>Image Classifier</h3>
            <p> Project Details:</p>
            <ul>
                <li> Created an Image classifier to recognize different species of flowers.</li>
                <li> Built the command-line application which takes an image from the user and tells the predicts the name of the flower.</li>
                <li> Currently Working on building a dataset for different types of objects and extend the application further.</li>
                <li> Technology - Python, Pytorch</li>
            </ul>
        </div>
    </div>
    <div class="project-container">
        <div class = "content"> 
            <h3>Know Me</h3>
            <p> Project Details:</p>
            <ul>
                <li> I began this project with the goal of creating my own website where I could update or publish information about my job experiences and projects.
            </ul>
        </div>
    </div>
<div>


    